*{
    box-sizing: border-box;
    margin: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.wrapper__header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    color: #55B2E4;
    font-size: 13px;
    font-weight: 700;
}
.subtitle{
    font-size: 8px;
    padding-left: 5px;
}
.divideLine{
    width: 100%;
    border-top: 1px solid gray;
}
.game__container{
    width: 222px;
    height: 168px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F6F6F6;
}
.game__title{
    font-size: 15px;
    font-weight: 900;;
}
.game__subtitle{
    font-size: 11px;
    color: #999999;
}
.word__result{
    font-size: 11px;
    font-weight: 700;
    color: #999999;
}
.word__text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textbox{
    width: 130px;
    height: 24px;
    border-radius: 5px;
}
.search{
    font-size: 11px;
    font-weight: 700;
    width: 38px;
    height: 24px;
}
.game__numbers{
    border: 1px solid black;
    border-radius: 8px;
    background-color: #FFE400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
    font-size: 11px;
    font-weight: 700;
    padding: 4px;
    margin-top: 5px;
}

.lotto__button{
    background-color: #fff;
     padding: 3px;
     border-radius: 5px;
     font-size: 11px;
    font-weight: 700;
    margin-top: 8px;
}