*{
    box-sizing: border-box;
    margin: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.wrapper__header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper__title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    color: #55B2E4;
    font-size: 13px;
    font-weight: 700;
}
.subtitle{
    font-size: 8px;
    padding-left: 5px;
}
.divideLine{
    width: 100%;
    border-top: 1px solid gray;
}
.albumWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img{
    margin: 16px;
    font-weight: 700;
    
}
.img__text__box{
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img__text{
    font-size: 11px;
    color: #0F465E;
}
.img__subText{
    color: #999999;
    font-size: 10px;
}

.wrapper__body{
    width: 100%;
    height: 270px;
}
table{
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    text-align: center;
}
td{
    border-bottom: 1px dotted #999999;
}
input{
    margin-top: 3px;
}

.check{
    width: 50px;
    
}
.num{
   width: 40px;
   
}

.name{
    text-align: left;
    width: 260px;
    color: #0F465E;
    
}

.first{
    background-color: #EEEEEE;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    color: #999999;
    font-weight:700;
}
.table__title{
    text-align: left;
}
.arst{
    text-align: left;
    color: #0F465E;
}
